.channel-container {
    border-bottom: 1px solid grey;
    grid-area: channels;

}

.channel-upper {
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
}

.delete-channel {
    color: red;
    cursor: pointer;
}