body {
  background-color: #d0e2f2;
  margin: 0;
}

.App {
  font-size: calc(5px + 2vmin);
  font-family: "Helvetica";
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.5fr 4fr 1fr;
  grid-template-areas:
    "channels welcome welcome welcome"
    "channels message-list message-list message-list"
    "channels send send send";
}

.welcome {
  grid-area: welcome;
}

.Login {
  border: solid 1px;
  max-width: 20vw;
  min-height: 20vh;
  background-color: #a4c1f4;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 30vh;
  padding: 10px;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.New-user {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20vh 20vw;
  width: 65vw;
  border: solid 1px;
  background-color: #d9ead3;
  /* grid-area: message-list; */
}

.Header {
  position: fixed;
  min-height: 10vh;
  min-width: 65vw;
  border-bottom: solid 1px;
  background-color: #ecf3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header_content {
  padding: 0;
  margin: 0;
  font-weight: 200;
}

.Message-List {
  height: 65vh;
  overflow: scroll;
  width: 65vw;
  border: solid 1px;
  background-color: #d9ead3;
  grid-area: message-list;
  margin: 10px;
}

.messages {
  list-style-type: none;
  color: grey;
}

.message {
  border: 1px solid;
  border-radius: 10px;
  width: 20vw;
  padding: 4px;
  font-size: .8em;
}

.my-message {
  justify-content: flex-start;
  background-color: #35C95A;
  border-bottom-right-radius: 0;
  margin-left: auto;
  margin-right: 2em;
}

.not-my-message {
  background-color: #F9CB9C;
  border-bottom-left-radius: 0;
}

.me {
  margin-left: 40vw;
}

.not-me {
  /* margin-left: 2vh; */
}

.send-message {
  height: 10vh;
  border: 1px solid;
  border-left: 0;
  background-color: #ffe599;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logout-btn {
  background-color: rgb(50, 115, 255);
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 90px;
  margin: 30px 30px 30px 10px;
}
