.App {
  background-color: #D0E2F2;
  font-size: calc(5px + 2vmin);
  min-height: 100vh;
  border: 1px solid;
  font-family: "Helvetica"
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.5fr 4fr 1fr;
  grid-template-areas: 
  "channels welcome welcome welcome"
    "channels message-list message-list message-list"
    "channels send send send";
}
.welcome {
  display: flex;
  justify-content: space-between;
  grid-area: welcome;
  font-size: 2em;
  font-weight: bold;
  margin-top: 1%;
}
.Login {
  border: solid 1px;
  max-width: 20vw;
  min-height: 20vh;
  background-color: #A4C1F4;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 30vh;
  padding: 10px;
}

button {
  cursor: pointer;
}

.Message-List {
  border: solid 1px;
  background-color: #D9EAD3;
  grid-area: message-list;
}

.logout-btn {
  background-color: rgb(50, 115, 255);
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 90px;
}


