.channel-list-container {
    border-right: 1px solid grey;
    background-color: rgb(0, 255, 255);
    padding: 10px;
    float: left;
    grid-area: channels;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}